html {
    font-family: Georgia;
    text-align: center;
    padding: 10px;
}

div > * {
  padding: 10px;
  margin: 10px;
}

.navbar {
  list-style-type: none;
  overflow: hidden;
  background-color: #333;
  text-align: center;
}

.navbar li {
  float: left;
}

#navbarLogin {
  float: right;
}


.navbar li a, #navbarLogin {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #111;
}

table {
  margin: 0 auto;
}

td {
  background-color:#ccc;
  padding: 5px 10px;
  color: black;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  background-color: #111;
}

.h2 {
  font-weight: bold;
}

input[type=text] {
  width: 15%;
  padding: 5px 10px;
  margin: 15px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;

  transition: width 0.4s ease-in-out;
}

textarea {
  width: 35%;
  height: 75px;
  padding: 12px 20px;
  margin: 15px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;

  transition: width 0.4s ease-in-out;
}